* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

a {
  text-decoration: none;
}

.wrapper {
  position: relative;
  top: 0;
  left: 0;
  height: 100vh;
  margin-left: 250px;
  transition: margin-left 0.5s;
}

.wrapper.collapse {
  margin-left: 0;
}

header {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 800;
  font-size: 20px;
  min-height: 40px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 5px 15px;
  z-index: 10;
}

.section-header {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.hamburger-menu {
  position: relative;
  width: 35px;
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  margin-right: 20px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.hamburger-menu span {
  width: 100%;
  height: 4px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 2px;
  transition: transform 0.3s;
}

.hamburger-menu:hover span:nth-child(1) {
  transform: translateY(-3px);
}

.hamburger-menu:hover span:nth-child(3) {
  transform: translateY(3px);
}

.location-source {
  color: rgba(0, 0, 0, 0.8);
  user-select: none;
}

.location-source a {
  color: rgba(0, 0, 0, 0.8);
}

.user-tag a {
  color: rgba(0, 0, 0, 0.8);
}

.user-tag a i {
  margin: 5px;
}

.btn-logout {
  font-size: 25px;
  cursor: pointer;
  margin-left: 30px;
}

.content {
  background-color: #eff2f6;
  min-height: calc(100vh - 30px);
  padding: 70px 20px 20px 20px;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 215px;
  height: 245px;
  background-color: #fff;
  border: #000 2px solid;
  border-radius: 10px;
  margin: 10px 40px;
  transition: 0.4s;
}

.card:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.card-content {
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.card-content .icono img {
  width: 140px;
  height: 140px;
}

.card-content .text {
  font-size: 25px;
  text-align: center;
  color: #000;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 800;
}

.items-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px;
  font-family: sans-serif;
}

.btn {
  min-width: 100px;
  height: fit-content;
  padding: 10px;
  color: #fff;
  border-radius: 6px;
  text-align: center;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1rem;
  user-select: none;
}

.btn i {
  margin-right: 8px;
}

.btn-blue {
  background-color: #003890;
  transition: 0.3s;
}

.btn-blue:hover {
  background-color: #002869;
}

.btn-blue:focus {
  box-shadow: 0 0 0 4px rgba(0, 55, 144, 0.4);
}

.btn-green {
  background-color: #006682;
  transition: 0.3s;
}

.btn-green:hover {
  background-color: #004d63;
}

.btn-green:focus {
  box-shadow: 0 0 0 4px rgba(0, 102, 130, 0.4);
}

.btn-purple {
  background-color: #53378F;
  transition: 0.3s;
}

.btn-purple:hover {
  background-color: #422979;
}

.btn-purple:focus {
  box-shadow: 0 0 0 4px rgba(83, 55, 143, 0.4)
}

.btn-red {
  background-color: #e41102;
  transition: 0.3s;
}

.btn-red:hover {
  background-color: #bd0d00;
}

.btn-red:focus {
  box-shadow: 0 0 0 4px rgba(228, 17, 2, 0.4);
}

.btn-gray {
  background-color: #808080;
  transition: 0.3s;
}

.btn-gray:hover {
  background-color: #666666;
}

.btn-gray:focus {
  box-shadow: 0 0 0 4px rgba(128, 128, 128, 0.4);
}

.search-bar {
  background-color: #fff;
  width: 400px;
  border-radius: 30px;
  display: grid;
  grid-template-columns: 40px 1fr;
  overflow: hidden;
  font-size: 20px;
  box-shadow: 0 0 2px rgb(14, 12, 12);
  transition: 0.3s;
  margin: auto;
}

.search-bar .icon-search {
  display: flex;
  color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
}

.search-bar input {
  border: none;
  padding: 10px;
  font-size: 18px;
}

.search-bar:hover {
  box-shadow: 0 0 4px rgb(2, 128, 231);
}

.wrapper-table {
  font-family: sans-serif;
  overflow-x: auto;
  margin: 50px 0;
}

.wrapper-table table {
  width: 100%;
  min-width: 1020px;
  border-collapse: collapse;
}

.wrapper-table th {
  color: #53378F;
  font-size: 20px;
  text-align: left;
  padding: 0 20px;
}

.wrapper-table tr {
  background-color: #fff;
  height: 45px;
  border: solid 1px #ccd2db;
}

.wrapper .titles-table td {
  font-weight: 600;
  background-color: #F4F6F8;
}

.wrapper-table tr td {
  padding: 0 20px;
}

.wrapper-table tr td img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.cell-center {
  text-align: center;
}

footer {
  position: relative;
  left: 0;
  width: 100%;
  bottom: 0;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: #c4c4c4;
  font-size: 15px;
  font-weight: 900;
}

.logo img {
  width: 100%;
}

nav {
  position: fixed;
  left: 0;
  top: 0;
  background-color: #101a36;
  height: 100%;
  width: 250px;
  color: #fff;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  overflow-x: hidden;
  z-index: 10;
  transition: transform 0.5s;
}

nav.collapse {
  transform: translateX(-250px);
}

.link a {
  color: rgb(218, 218, 218);
  display: block;
  font-size: 17px;
  padding: 15px;
  transition: .3s;
}

.link a:hover {
  color: #000;
  background-color: #fff;
}

.modal-wrapper {
  position: fixed;
  overflow-y: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transition: .2s;
}

.modal-wrapper.visible {
  opacity: 1;
  visibility: visible;
}

.modal {
  margin: 35px auto;
  height: fit-content;
  width: 600px;
  background-color: #EFF2F6;
  border-radius: 7px;
  overflow: hidden;
  font-family: sans-serif;
  opacity: 0;
  transform: scale(0);
  transition: .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.modal.visible {
  opacity: 1;
  transform: scale(1);
}

.modal-header {
  display: flex;
  padding: 10px 20px;
  background-color: #fff;
  font-size: 22px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: #53378F;
  font-weight: bold;
}

.modal-header i {
  font-size: 30px;
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: color .3s;
}

.modal-header i:hover {
  color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  padding: 30px;
  text-align: center;
}

.modal-content h2 {
  margin-bottom: 30px;
}

.modal-content .options-delete {
  display: flex;
  justify-content: space-between;
}

.form-section {
  margin: 20px 0;
  width: 100%;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-section input,
.form-section select {
  width: 70%;
  padding: 7px;
  font-size: 16px;
}

.modal-content form input[type="submit"] {
  font-size: 16px;
  width: 100%;
}

@media screen and (max-width: 600px) {
  .wrapper {
    margin-left: 0;
  }

  nav {
    transform: translateX(-250px);
  }

  nav.collapse {
    transform: translateX(0);
  }

  header {
    flex-direction: column;
  }

  .content {
    padding-top: 100px;
  }

  .modal {
    width: 90%;
  }
}